[user]
    name = shujimurase
    email = bp21071@shibaura-it.ac.jp
    signingkey = ~/.ssh/id_ed25519_sit.pub

[gpg]
    format = ssh
[commit]
    gpgsign = true

# ディレクトリベースの判定がおすすめ
[includeIf "gitdir:~/workspace/"]
    path = ~/.gitconfig-techouse
