[user]
    name = shujimurase
    email = bp21071@shibaura-it.ac.jp
    signingkey = ~/.ssh/id_ed25519_sit.pub

[gpg]
    format = ssh
[commit]
    gpgsign = true

# ここを追記：URLにtechouse-incが含まれていたら、鍵固定ホスト(github.com-techouse)にすり替える
[url "git@github.com-techouse:techouse-inc/"]
    insteadOf = git@github.com:techouse-inc/

# ディレクトリ判定がダメな場合の代替案
[includeIf "hasconfig:remote.*.url:git@github.com:techouse-inc/**"]
    path = ~/.gitconfig-techouse